@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,300;1,500&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background: linear-gradient(to right, #00aaff,#00ff6c);
    color: rgba(255,255,255,0.9);

}
h1{
    text-align: center;

}
ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;

}
li{
    font-size: 20px;
    margin-bottom: 15px;
}
a{
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
    padding: 10px;
    cursor: pointer;
    color: rgba(255,255,255,0.9);

}
a:hover{
    color: rgba(255,255,255,0.5);

}
